html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: #f3eeeb;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f3eeeb;
}

::-webkit-scrollbar-thumb {
  background-color: dimgray;
  border-radius: 20px;
}